@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
} */

.dark-bg{
    background-color: #131415;
}

.grad-text{
    background-image: linear-gradient(135deg, rgb(203, 94, 238) 0%, rgb(75, 225, 236) 100%); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -webkit-box-decoration-break: clone;
}

.grad-bg{
    background-image: linear-gradient(135deg, rgb(203, 94, 238) 0%, rgb(75, 225, 236) 100%); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -webkit-box-decoration-break: clone;
}