@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Turis;
  src: url(../styles/TurisExtraBold.otf);
  src: url(../styles/TurisLight.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Aftika;
  src: url(/assets/fonts/Aftika-Light.ttf);
  font-weight: 400;
  font-style: normal;
}

.author-avatar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 240px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.white-shadow {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.author-posts h1::after {
  content: "";
  position: absolute;
  top: 50px;
  /* bottom: 0px; */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: #737373;
}

.prose
  :where(blockquote p:first-of-type):not(:where([class~="not-prose"]
      *))::before {
  content: "";
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  color: white;
  font-weight: normal;
  font-size: 0.875em;
  background-color: var(--tw-prose-pre-bg);
  padding: 5px 7px;
  border-radius: 5px;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}
