@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Turis;
  src: url(../styles/TurisExtraBold.otf);
  src: url(../styles/TurisLight.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Aftika;
  src: url(/assets/fonts/Aftika-Light.ttf);
  font-weight: 400;
  font-style: normal;
}

.author-avatar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 240px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.white-shadow {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.author-posts h1::after {
  content: "";
  position: absolute;
  top: 50px;
  /* bottom: 0px; */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: #737373;
}

.prose
  :where(blockquote p:first-of-type):not(:where([class~="not-prose"]
      *))::before {
  content: "";
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  color: white;
  font-weight: normal;
  font-size: 0.875em;
  background-color: var(--tw-prose-pre-bg);
  padding: 5px 7px;
  border-radius: 5px;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  font-family: "Source Code Pro", monospace;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose p,
.prose li {
  font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 18px;
}

.prose h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.prose h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.prose-blockquote\:leading-10
  :is(:where(blockquote):not(:where([class~="not-prose"] *))) {
  line-height: 2.5rem;
  width: 100vw;
  max-width: 100%;
  line-break: anywhere;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  font-size: 20px;
}
